interfaces:
  eth1:
    description: 'To vpplab shared LAN'
    mtu: 1500
    lcp: eth1
  eth2:
    description: 'To vpp2'
    mtu: 1500
    lcp: eth2
loopbacks:
  loop0:
    description: 'vpp1'
    lcp: loop0
